@model List<InventoryControl.Models.RequestHeader>
@{
    ViewData["Title"] = "Permintaan Bidang";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h1>@ViewData["Title"]</h1>
<table>
    <thead>
        <tr>
            <th>Tanggal Pengeluaran</th>
            <th>Penerima</th>
            <th>Status</th>
            <th>Item Barang</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CreatedDate?.ToString("dd-MM-yyyy")</td>
                <td>@item.UserName</td>
                @if (item.StatusId == 1)
                {
                    <td><span class="badge-danger">Usulan</span></td>
                }
                else if (item.StatusId == 2)
                {
                    <td><span class="badge-success">Disetujui</span></td>
                }
                <td> </td>

            </tr>
        }
    </tbody>

</table>

@section Scripts{
    <script type="text/javascript">
        $("#@ViewBag.ActiveClass").addClass("active");
    </script>

}