
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h1>Index</h1>

@section Scripts{ 
    <script type="text/javascript">
        $("#@ViewBag.ActiveClass").addClass("active");
    </script>

}

